---
const { cover = "", coverAlt = "", title, description, publicationDate } = Astro.props;

import { Image } from "astro:assets";
import PageLayout from "./PageLayout.astro";
import PublicationDate from "../components/PublicationDate.astro";
---

<PageLayout {title} {description} ogImage={cover !== "" ? cover.src : ""} >
  { cover !== "" && <Image src={cover} alt={coverAlt} slot="header-before" /> }
  <Fragment slot="header">
    <p>
      Published on
      <PublicationDate {publicationDate} />
    </p>
  </Fragment>
  <slot />
</PageLayout>
